# OpenAI Settings 
OPENAI_API_KEY='YOUR_API_KEY'
OPENAI_MODEL='gpt-4.1-nano'

# Other LLM Providers - Openrouter example
# LLM_URL='https://openrouter.ai/api/v1'
# LLM_MODEL='meta-llama/llama-3.3-8b-instruct:free'
# LLM_API_KEY='YOUR_API_KEY'

# Local LLM - Ollama example
# LLM_URL='http://localhost:11434/v1'
# LLM_MODEL='llama3.1:8b'
